{% extends "common/base.html" %}

{% load custom_filter %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="w-full max-w-lg bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-gray-800 text-center mb-6">Update Profile</h2>
        
        <form method="POST">
            {% csrf_token %}

            <!-- Email Field -->
            <div class="mb-6">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                {{ form.email|add_class:"form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"}}
                {% if form.email.errors %}
                    <p class="text-red-500 text-sm">{{ form.email.errors }}</p>
                {% endif %}
            </div>

            <!-- Old Password Field -->
            <div class="mb-6">
                <label for="old_password" class="block text-sm font-medium text-gray-700">Old Password</label>
                {{ form.old_password|add_class:"form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500" }}
                {% if form.old_password.errors %}
                    <p class="text-red-500 text-sm">{{ form.old_password.errors }}</p>
                {% endif %}
            </div>

            <!-- New Password Field -->
            <div class="mb-6">
                <label for="new_password1" class="block text-sm font-medium text-gray-700">New Password</label>
                {{ form.new_password1|add_class:"form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500" }}
                {% if form.new_password1.errors %}
                    <p class="text-red-500 text-sm">{{ form.new_password1.errors }}</p>
                {% endif %}
            </div>

            <!-- Confirm New Password Field -->
            <div class="mb-6">
                <label for="new_password2" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
                {{ form.new_password2|add_class:"form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500" }}
                {% if form.new_password2.errors %}
                    <p class="text-red-500 text-sm">{{ form.new_password2.errors }}</p>
                {% endif %}
            </div>

            <!-- Submit Button -->
            <div class="flex items-center justify-between">
                <button type="submit" class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out focus:outline-none">
                    Update Profile
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}
