{% extends "common/base.html" %}

{% block content %}
    <h2 class="text-2xl font-bold mb-4 text-center">Manage Employee</h2>
    <table class="table-auto w-full mt-4 border-collapse border border-gray-200">
        <thead>
            <tr class="bg-gray-100">
                <th class="border px-3 py-2">Name</th>
                <th class="border px-7 py-2">Designation</th>
                <th class="border px-2 py-2 w-60">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td class="border text-center px-3 py-3 text-blue-800"><a href="{% url 'details' employee.pk %}">{{ employee.name }}</a></td>     
                <td class="border text-center px-7 py-3">{{ employee.designation }}</td>
                <td class="border text-center px-2 py-3 w-60">
                    <div>
                        <a href="{% url 'update' employee.pk %}" class="bg-yellow-500 text-white px-5 py-2 rounded">Edit</a>
                        <a href="{% url 'delete' employee.pk %}" class="bg-red-500 text-white px-5 py-2 rounded">Delete</a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center py-4">No employees found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


